
<div class="center">
  <%= link_to 'Back', new_event_path %>
</div>

 <div>
  <div class="table-responsive">
     <thead>
        <tr>
          <th>Name</th>
          <th>location</th>
          <th>description</th>
        </tr>
      </thead>
       <tbody>
        <% @events.each do |e| %>
          <tr>
            <td><%= e.name %></td>
            <td><%= e.location %></td>
            <td><%= e.description %></td>
          </tr>
        <% end %>
      </tbody>
  </div>
</div>