
<h1>Fall 2014</h1>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Monday</th>
        <th scope="col">Tuesday</th>
        <th scope="col">Wednesday</th>
        <th scope="col">Thursday</th>
        <th scope="col">Friday</th>
        <th scope="col">Saturday</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Beginner</th>
        <td>4:00-5:00pm</td>
        <td></td>
        <td></td>
        <td>4:00-5:00pm</td>
        <td></td>
        <td>11:00-12:00pm</td>
      </tr>
      <tr>
        <th scope="row">Adv Beg & Novice</th>
        <td>4:30-6:00pm</td>
        <td></td>
        <td></td>
        <td>4:30-6:00pm</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">Prize Winners</th>
        <td>5:00-6:30pm</td>
        <td></td>
        <td></td>
        <td>5:00-6:30pm</td>
        <td></td>
        <td></td>
      </tr>
       <tr>
        <th scope="row">Prelim & Open Champs</th>
        <td>5:30-7:30pm</td>
        <td></td>
        <td></td>
        <td>5:30-7:30pm</td>
        <td></td>
        <td>12:00-2:00pm</td>
      </tr>
       <tr>
        <th scope="row">Hard Shoe</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>4:30-6:00pm</td>
      </tr>
      <tr>
        <th scope="row">All Levels<br>*Mahopac*</th>
        <td></td>
        <td>3:30-5:30pm</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
       <tr>
        <th scope="row">Boys Only u10-11<br>$10 pay as you go</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>3:45-4:15pm</td>
        <td></td>
      </tr>
       <tr>
        <th scope="row">Ceili's u10-11</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>11:00-11:30am</td>
      </tr>
      <tr>
        <th scope="row">Private<br>1hr Lessons</th>
        <td></td>
        <td></td>
        <td>2:30-7:30pm</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>