<h1>Fall 2014</h1>

<div class="row">
    <div class="col-xs-4">
      <div class="box panel panel-success text-center">
        <div class="panel-heading">Beginners</div>
          <div class="panel panel-body">
            <p>Saturday's 11:00-12:00pm</p>
            <p>Aisling Center</p>
          </div>
      </div>
    </div>

    <div class="col-xs-4">
         <div class="box panel panel-success text-center">
        <div class="panel-heading">Adv Beginners & Novice</div>
          <div class="panel panel-body">
            <p>Mon & Thurs 4:00-5:00pm</p>
            <p>Aisling Center</p>
          </div>
      </div>
    </div>

    <div class="col-xs-4">
         <div class="box panel panel-success text-center">
        <div class="panel-heading">Prize Winners</div>
          <div class="panel panel-body">
            <p>Mon & Thurs 4:30-6:00pm</p>
            <p>Aisling Center</p>
          </div>
      </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-4">
      <div class="box panel panel-success text-center">
        <div class="panel-heading">Trad Set & Hard Shoe</div>
          <div class="panel panel-body">
            <p>Friday's 4:00-5:30pm</p>
            <p>Nepperhan Studio</p>
          </div>
      </div>
    </div>

    <div class="col-xs-4">
         <div class="box panel panel-success text-center">
        <div class="panel-heading">Prelim & Open Champs</div>
          <div class="panel panel-body">
            <p>Friday's 5:30-7:30pm<br>
            Nepperhan Studio</p>
            <p>Saturday's 1:00-3:00pm<br>
            Aisling Center</p>
          </div>
      </div>
    </div>

    <div class="col-xs-4">
         <div class="box panel panel-success text-center">
        <div class="panel-heading">Core Strengthening</div>
          <div class="panel panel-body">
            <p>Saturday's 12:00-12:45pm</p>
            <p>Aisling Center</p>
          </div>
      </div>
    </div>
</div>

<a href="#" class="btn btn-lg btn-success"
     data-toggle="modal"
     data-target="#basicModal">Champions</a>

     <div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-lg">
        <div class="modal-content">
          <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&amp;times;</button>
          <h4 class="modal-title" id="myModalLabel">2014 World Qualifiers</h4>
            </div>
            <div class="modal-body">
              <img src="https://s3.amazonaws.com/flynnDanceMaster/moylan.jpg">
                <figcaption>
                  <h3>Ava Moylan U10</h3>
                </figcaption>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>


