<h1>Schedule - Fall 2014</h1>

<div class="row">
    <div class="col-xs-4">
      <div class="box panel panel-success text-center">
        <div class="panel-heading">Beginners</div>
          <div class="panel panel-body">
            <p>Saturday's 11:00-12:00pm</p>
            <p>Aisling Center</p>
          </div>
      </div>
    </div>

    <div class="col-xs-4">
         <div class="box panel panel-success text-center">
        <div class="panel-heading">Adv Beginners & Novice</div>
          <div class="panel panel-body">
            <p>Mon & Thurs 4:00-5:00pm</p>
            <p>Aisling Center</p>
          </div>
      </div>
    </div>

    <div class="col-xs-4">
         <div class="box panel panel-success text-center">
        <div class="panel-heading">Prize Winners</div>
          <div class="panel panel-body">
            <p>Mon & Thurs 4:30-6:00pm</p>
            <p>Aisling Center</p>
          </div>
      </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-4">
      <div class="box panel panel-success text-center">
        <div class="panel-heading">Trad Set & Hard Shoe</div>
          <div class="panel panel-body">
            <p>Friday's 4:00-5:30pm</p>
            <p>Nepperhan Studio</p>
          </div>
      </div>
    </div>

    <div class="col-xs-4">
         <div class="box panel panel-success text-center">
        <div class="panel-heading">Prelim & Open Champs</div>
          <div class="panel panel-body">
            <p>Friday's 5:30-7:30pm<br>
            Nepperhan Studio</p>
            <p>Saturday's 1:00-3:00pm<br>
            Aisling Center</p>
          </div>
      </div>
    </div>

    <div class="col-xs-4">
         <div class="box panel panel-success text-center">
        <div class="panel-heading">Core Strengthening</div>
          <div class="panel panel-body">
            <p>Saturday's 12:00-12:45pm</p>
            <p>Aisling Center</p>
          </div>
      </div>
    </div>
</div>


